*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}
*::selection{
    background-color: #02d95a;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-size: 20px;
    padding-left: 10px;
}
h2{
    font-size: 16px;
}
.icon{
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    /* transform: rotate(0); */
}
.icon.clicked{
    transform: rotate(180deg);
}
.icon img{
    width: 100%;
    height: 100%;
}
.nav--item{
    z-index: 100;
    height: 80vh;
}
.detail{
    display: flex;
    justify-content: space-between;
    align-items: safe;
}
section{
    width: 700px;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.336);
    border-radius: 10px;
    margin: 20px auto;
}
.summary{
    display: none;
    transition: all 0.4s ease-in;
}
.summary.show{
    
    display: block;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style-type: none;
    margin-bottom: 20px;
}
p{
    padding-top: 15px;
    color: #000000a8;
}

@media screen and (max-width:720px){
    section{
        width: auto;
        padding: 0;box-shadow: none;
    }
    main{
        padding: 5px 0;
    }
    h1{
        padding-left: 0;
        padding-top: 15px;
    }
}