 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* font-size: 62.4%; */
    font-family: 'Poppins',sans-serif;
}
/*
html{
    scroll-behavior: smooth;
    font-size: 62.4%;
}

:root{
    --btn-bkg:#02d95a;
    --white-color:#fff;
    --trans-color:rgba(255, 255, 255, 0.5);
    --blur-shadow: rgba(0, 0, 0, 0.267);
    --hover-text: #02d95a;
} */

.logo{
    width: 100px;
    height: 100px;
}
.logo img{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.harmburger{
    display: none;
}
.harmburger span{
    display: block;
    background: #02d95a;
    width: 30px;
    margin-top: 3px;
    height: 4px;
}
.nav--item{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav--item li{
  list-style-type: none;
  margin: auto 20px;
  font-weight: bold;
  position: relative;
}
.nav--item li::after{
    position: absolute;
    content: '';
    background: #02d95a;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 20%;
    transform: translateY(5px);
    transition: all 0.2s ease-in;
    border-radius: 0px;
  }
  .nav--item li:hover::after{
      width: 100%;
      border-radius: 10px;
  }
.nav--item li a{
    color: rgba(0, 0, 0, 0.849);
    text-decoration: none;
}
.nav--item li a:visited{
    color: black;
}
.nav--item li a:active{
    color: #02d95a;
}
.btn--activate{
    border: none !important;
    
}
.btn--activate a{
    background: #02d95a;
    color: #fff !important;
    padding: 10px 15px;
    
}
@media screen and (max-width:950px){
    .btn--activate a{
        background: #02d95a;
        color: #fff !important;
        padding: 10px 15px;
        margin-top: 5px;
    }
    .nav--item .btn--activate:hover::after{
        width: 0%;
    }
    .nav--item li:hover::after{
        width: 20%;
        height: 10%;
        transform: translateY(0);
    }
    nav{
        display: grid;
       grid-template-columns: repeat(12,1fr);
       grid-template-rows: auto;
       position: relative;
    }
    .logo{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .harmburger{
        display: block;
        grid-column: 12/13;
        grid-row: 1/2;
        cursor: pointer;
        padding-right: 10px;
    }
    .nav--item.open{
        transform: translateX(0);
        box-shadow:  5px 5px #00000048;
    }
    .nav--item{
        grid-column: 1/13;
        grid-row: 2/3;
        background: rgb(255, 255, 255);
        width: 300px;
        height: 100vh;
        transition: all 0.4s;
        transform: translateX(-500px);
        animation: movement 2s ease-in;
        display: block;
        position: absolute;
        top: 0;
    }
    .nav--item li{
        padding: 10px 0;
        margin: 0;
        margin-left: 20px;
        
    }
}
@keyframes movement{
    0%{
        display: block;
    }
    100%{
        display: none;
    }
}